html{
    background-image: url(img/wp11435860.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}


h1{
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

input{
  font-family: "Comfortaa", sans-serif;
  font-size: 13px;
}

.otros{
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-size: 15px;
  margin-top: 20px;
}

.info{
    font-family: "Comfortaa", sans-serif;
    top: 20px;
    /*position: relative;*/
    color: #93aaae;
    font-size: 17px;
    margin-top: 18px;
    margin-bottom: 4px;
}

p{
  color: red;
  font-family: "Comfortaa", sans-serif;
  font-size: 10px;
}

.boton{
  margin-top: 30px;
  background:#e3702e;
  color: white;
  border:none;
  border-radius: 50px;
  position:relative;
  height:28px;
  font-size: 0.9em;
  font-family: "Comfortaa", sans-serif;
  padding:0 2em;
  cursor:pointer;
  transition:1s ease all;
  outline:none;
}

.contenedor {
  /*background-color: purple;*/
  text-align: center;
  display: flex;
  width: 500px;
  padding: 1% 3%;
  box-shadow: 0px 0px 8px 4px;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


button:hover{
  background: white;
  color:#e3702e;
}

  /* Hide the overlay by default */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 998;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  overflow: hidden;
}

.modal-titulo{
  margin: 0;
  text-align: center;
  color: red;
  font-family:"Comfortaa", sans-serif;
  font-size: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-image {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}

.modal-text {
  margin: 0;
  text-align: center;
  color: red;
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: red;
}

.modal-close:before,.modal-close:after{
  content:'';
  position:absolute;
  top: 0;
  right:0;
  height:0px;
  width:0;
  background: #e3702e;
  transition:400ms ease all;
}
.modal-close:after{
  right:inherit;
  top:inherit;
  left: 0;
  bottom: 0;
}
.modal-close:hover:before,.modal-close:hover:after{
  width:100%;
  transition:800ms ease all;
}
